{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <p>
        Your username is : {{username}}
    </p>
    <h3>Change Password</h3>
    <form action="/pwdchange" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="current_pwd" placeholder="Current Password" type="password" >
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="new_pwd" placeholder="New Password" type="password" >
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="conf_pwd" placeholder="Confirm New Password" type="text" >
        </div>
        <button class="btn btn-primary" type="submit" >Change Password</button>
    </form>

{% endblock %}
