{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block head %}
    <!-- Include CSS for tradingview chart -->
    <!-- <style>
        /* CSS for tradingview chart */
        @media screen and (max-width: 750px) {
            /* Size for chart */
            .tradingview-chart {
                width: 300px;
                height: 300px;
            }
            .tradingview-widget-container {
                width: 100%;
                height: 300px;
            }
            #tradingview_chartarea{
                width: 100%;
                height: 300px;
            }
        }
    </style> -->
{% endblock %}

{% block main %}
    <p>
        A share of {{ stock_quote.name }} ({{ stock_quote.symbol }}) costs {{ stock_quote.price | usd }}.
    </p>
    <div class="tradingview-chart">
        <div class="tradingview-widget-container">
            <div id="tradingview_chartarea"></div>
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
            new TradingView.widget({
                "width": window.innerWidth - 200,
                "height": 500,
                "symbol": "{{ stock_quote.symbol }}",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "light",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_chartarea"
            });
        </script>
    </div>
{% endblock %}
